# Package Managers
bower_components/
node_modules/
npm-debug.log*
package-lock.json
shrinkwrap.yaml
vendor/
yarn-error.log
yarn.lock

# Development Files
*.map
*.tsbuildinfo

# Project-specific
todo.md
